
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.app {
  background-color:rgb(255, 255, 237);
  box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px;
  margin-top: 100px;
  padding: 20px 40px;
  border-radius: 10px;
  width: 60vw;
}

/*For List Header And Child*/

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgba(0, 0, 0, 0.1) 3px solid;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-header .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.user-name p {
  margin-bottom: 5px;
}

.user-name p span{
  color: #2E8B57;
  font-weight: 600;
  font-size: 1.125rem;
}

.button-container button {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 600;
}

/*For List Item*/
.list-item {
  width: auto;
  height: auto;
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.list-item .info-container, .list-item .button-container {
  display: flex;
  align-items: center;
}

.list-item .info-container {
  width: 70%;
  justify-content: space-between;
}

.tick-icon {
}

p.task-title {
  width: 250px;
  word-wrap: break-word;
  text-align: center;
}

/*For Button*/
.edit:hover {
  background-color: rgb(182, 223, 186);
}

.edit:active {
  border: 2px solid rgb(141, 181, 145);
  color: rgb(255, 255, 255);
  background-color: rgb(141, 181, 145);
  
}

.delete:hover {
  border-color: #000000;
  border-style: solid;
  color: #000000;
  background-color: #ff3838;
}

.delete:active {
  border-color: #ff3838;
  border-style: solid;
  color: #ffffff;
  background-color: #ff3838;
}

.create-btn:hover, .create:hover {
  background-color: rgb(182, 223, 186);
}

.create-btn:active, .create:active {
  border: 2px solid rgb(141, 181, 145);
  color: rgb(255, 255, 255);
  background-color: rgb(141, 181, 145);
  
}

.signout-btn:hover {
  background-color: rgb(190, 190, 190);
}

.signout-btn:active {
  border: 2px solid rgb(190, 190, 190);
  color: rgb(255, 255, 255);
  background-color: rgb(190, 190, 190);
}

/*Modal*/
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .form-title-container button {
  width: 28px;
  height: 28px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  font-weight: 600;
  color: #000000;
  font-size: 1.125rem;
}

.modal .form-title-container button:hover {
  border: 2px solid #ff3838;
  color: #ff3838;
}

.modal .form-title-container button:active {
  background-color: #ff3838;
  color: #ffffff;
}

.modal form {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 16px;
  margin: 8px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 2px solid rgba(104, 104, 104, 0.3);
}

input.edit {
  font-weight: 600;
  border: 2px solid #000000;
}

input.create {
  font-weight: 600;
  border: 2px solid #000000;
}

/*Auth*/

.auth {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.auth-container {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.auth-container form h1 {
 text-align: center;
 color:#2E8B57
}


.auth-options button {
  font-weight: 600;
  width: 50%;
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
}

/*Modal*/
.outer-bar {
  width: 200px;
  height: 12px;
  background-color: rgb(177, 177, 177);
  border-radius: 7px;
  overflow: hidden;
}

.inner-bar {
  height: 12px;
  background-color: #2E8B57;
}

/*Mobile */

@media screen and (max-width: 976px) {
  .app {
    width: 100vw;
    padding:20px 0;
    margin-top: 0;
    min-height: 100vh;
  }


  .list-header {
    display: flex;
    flex-direction: column;
  }

  .list-item {
    display: flex;
    flex-direction: column;
  }

  p.task-title {
    max-width: 90%;
    word-wrap: break-word;
    text-align: center;
  }

  .list-item .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }

  .list-item .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .user-name {
    text-align: center;
  }
}